@model AddressBookApp.Models.Address

@{
    Layout = null;
}

<div id="EditAddressModal" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div id='ModalEditAddresses' class="modal-body">
                <h4>Address</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="AddressID" id="AddressIDEdit" />
                            <div class="form-group">
                                <label asp-for="ContactID" class="control-label"></label>
                                <input asp-for="ContactID" id="AddressContactIDEdit" class="form-control" />
                                <span asp-validation-for="ContactID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="StreetAddress" class="control-label"></label>
                                <input asp-for="StreetAddress" id="StreetAddressEdit" class="form-control" />
                                <span asp-validation-for="StreetAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" id="CityEdit" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="State" class="control-label"></label>
                                <input asp-for="State" id="StateEdit" class="form-control" />
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostalCode" class="control-label"></label>
                                <input asp-for="PostalCode" id="PostalCodeEdit" class="form-control" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                            <a href="#" onclick="editAddress()" class="btn btn-dark">Save</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
